<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iStore</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary bg-light p-4 mx-auto">
        <div class="container-fluid">
          <a class="navbar-brand text-black" href="#">iStore</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-lg-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      iPhone
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">iPhone 6s</a></li>
                      <li><a class="dropdown-item" href="#">iPhone 6s Plus</a></li>
                      <li><a class="dropdown-item" href="#">iPhone 7</a></li>
                      <li><a class="dropdown-item" href="#">iPhone 7 Plus</a></li>
                      <li><a class="dropdown-item" href="#">iPhone 8</a></li>
                      <li><a class="dropdown-item" href="#">iPhone 8 Plus</a></li>
                      <li><a class="dropdown-item" href="#">iPhone X</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Lihat Semua Model iPhone</a></li>
                    </ul>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  iPad
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">iPad Air Generasi 5</a></li>
                  <li><a class="dropdown-item" href="#">iPad Pro Generasi 5</a></li>
                  <li><a class="dropdown-item" href="#">iPad Pro Generasi 6</a></li>
                  <li><a class="dropdown-item" href="#">iPad Pro Generasi 7</a></li>
                  <li><a class="dropdown-item" href="#">iPad Generasi 9</a></li>
                  <li><a class="dropdown-item" href="#">iPad Mini Generasi 7</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Lihat Semua Model iPad</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mac
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Mac Mini (M1)</a></li>
                  <li><a class="dropdown-item" href="#">iMac (M1)</a></li>
                  <li><a class="dropdown-item" href="#">Mac Studio (M1 Max & M1 Ultra)</a></li>
                  <li><a class="dropdown-item" href="#">Macbook Pro 13" (M1)</a></li>
                  <li><a class="dropdown-item" href="#">Macbook Pro 13" (M2)</a></li>
                  <li><a class="dropdown-item" href="#">Macbook Air (M1)</a></li>
                  <li><a class="dropdown-item" href="#">Macbook Air (M2)</a></li>
                  <li><a class="dropdown-item" href="#">Macbook Pro 14" & 16" (M1 Pro & M1 Max)</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Lihat Semua Model Mac</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Watch
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Apple Watch Ultra</a></li>
                  <li><a class="dropdown-item" href="#">Apple Watch Series 8</a></li>
                  <li><a class="dropdown-item" href="#">Apple Watch Series 7</a></li>
                  <li><a class="dropdown-item" href="#">Apple Watch Series 3</a></li>
                  <li><a class="dropdown-item" href="#">Apple Watch SE gen 2</a></li>
                  <li><a class="dropdown-item" href="#">Apple Watch SE</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Lihat Semua Model Watch</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Aksesoris
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Airpods Max</a></li>
                  <li><a class="dropdown-item" href="#">Airpods Pro</a></li>
                  <li><a class="dropdown-item" href="#">Airpods</a></li>
                  <li><a class="dropdown-item" href="#">AirTag</a></li>
                  <li><a class="dropdown-item" href="#">Aksesoris Apple</a></li>
                  <li><a class="dropdown-item" href="#">Aksesoris Lainnya</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Event & Promo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Layanan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Wishlist</a>
              </li>
            </ul>
            <form class="d-flex m-md-1" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </nav>

      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/public/assets/images/Screenshot 2023-01-08 at 16.03.37.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/public/assets/images/Screenshot 2023-01-08 at 16.03.54.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/public/assets/images/Screenshot 2023-01-08 at 16.04.23.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/public/assets/images/Screenshot 2023-01-08 at 16.04.37.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</body>

</html>  