<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Detail User</title>
  <link rel="stylesheet" href="http://localhost/toko_online/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <hr class="nav-admin-top">
   <h1 class="title-admin-panel">User</h1>
  <nav class="nav-admin">
    <div class="logo-admin">
      <h4 class="fab fa-apple"> iStore</h4>
    </div>
    <ul class="nav-menu-admin">
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Dashboard</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Product</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Category</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">User</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Order</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Sales Report</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Logout</a></li> 
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
  <div class="dashboard-admin">
</div> 
<div class="detail-product-admin">
    <div class="container-detail-product-admin">
        <img src="" alt="">
        <h5>Id :</h5>
        <h5>Firstname :</h5>
        <h5>Lastname :</h5>
        <h5>E-mail :</h5>
        <h5>Date of Birth :</h5>
        <h5>Gender :</h5>
        <h5>Phone Number :</h5>
        <h5>Address :</h5>
        <h5>Jobs :</h5>
        <br>
        <br> 
        
    </div>    
</div>

 <script src="http://localhost/toko_online/public/assets/js/script.js"></script>
</body>

</html>

