<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>iStore</title>
  <link rel="stylesheet" href="http://localhost/toko_online/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <hr class="nav-admin-top">
   <h1 class="title-admin-panel">Product</h1>
  <nav class="nav-admin">
    <div class="logo-admin">
      <h4 class="fab fa-apple"> iStore</h4>
    </div>
    <ul class="nav-menu-admin">
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Dashboard</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Product</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Category</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">User</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Order</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Sales Report</a></li>
      <li class="nav-item-admin"><a class="nav-link-admin" href="#">Logout</a></li> 
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
  <div class="dashboard-admin">
 <div class="container-dashboard-admin">
  <h3>24 Products</h3>
 </div>
</div> 
<div class="list-product-admin">
    <div class="container-list-product-admin">
        <h3>List Of Product</h3>
        <br>
        <br> 
        <table class="table-product">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Color</th>
                    <th>Capacity</th>
                    <th>Created_at</th>
                    <th>Modified_at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
                <tr>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                    <td>column</td>
                </tr>
            </tbody>
            
        </table>
    </div>    
</div>

<button class="add-product-button">Add Product</button>
 <script src="http://localhost/toko_online/public/assets/js/script.js"></script>
</body>

</html>

