<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>iStore</title>
  <link rel="stylesheet" href="http://localhost/toko_online/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav>
    <div class="logo">
      <h4>
        <p class="fab fa-apple"></p> iStore
      </h4>
    </div>
    <ul class="nav-menu">
      <li class="nav-item"><a class="nav-link" href="#">iPhone</a></li>
      <li class="nav-item"><a class="nav-link" href="#">iPad</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Mac</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Watch</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Tv</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">
          <p class="fa fa-cart-shopping"></p>
        </a></li>
      <li class="nav-item"><a class="nav-link" href="#">Order</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
  <br>
  <a href="#" class="directory">Home/ Order</a>
  <br>
  <br>
  <hr>
  <div>
    <main class="grid-order">
      <article>
        <a href="#">
        <img class="img-order" src="http://localhost/toko_online/public/assets/images/iphoneX.png" alt="">
        <div class="order-detail">
          <h2>iPhone X</h2>
          <p>Order Date : 11-12-2022</p>
          <p>Status : Success</p>
        </div>
      </a>
      </article>
      <article>
        <a href="#">
        <img class="img-order" src="http://localhost/toko_online/public/assets/images/iphone6splus.png" alt="">
        <div class="order-detail">
          <h2>iPhone 6s Plus</h2>
          <p>Order Date : 11-12-2022</p>
          <p>Status : Success</p>
        </div>
      </a>
      </article>
  </main>
  </div>
  <script src="http://localhost/toko_online/public/assets/js/script.js"></script>
</body>

</html>