<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>iStore</title>
  <link rel="stylesheet" href="http://localhost/toko_online/public/assets/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <nav>
    <div class="logo">
      <h4><p class="fab fa-apple"></p> iStore</h4>
    </div>
    <ul class="nav-menu">
      <li class="nav-item"><a class="nav-link" href="#">iPhone</a></li>
      <li class="nav-item"><a class="nav-link" href="#">iPad</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Mac</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Watch</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Tv</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li> 
      <li class="nav-item"><a class="nav-link" href="#"> <p class="fa fa-cart-shopping"></p> </a></li> 
      <li class="nav-item"><a class="nav-link" href="#">Login</a></li> 
    </ul>
    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
  <br>
  <a href="#" class="directory">Home/ Product</a>
  <br>
  <br>
  <hr>

  <img class="img-product-detail" src="http://localhost/toko_online/public/assets/images/iphoneX.png" alt="">
  <div class="container-product">
    <h2>iPhone X</h2>
    <br>
    <p> <p class="fa fa-check"></p> Stock Available</p>
    <br>
    <h4>Color :</h4>
    <br>
    <select name="color" id="color">
        <option value="Grey">Grey</option>
        <option value="White">White</option>
    </select>
    <br>
    <br>
    <h4>Capacity :</h4>
    <br>
    <select name="capacity" id="capacity">
        <option value="128">128 Gb</option>
        <option value="256">256 Gb</option>
    </select>
    <br>
    <br>
    <button class="addtocart-button"><a href="#" class="a"> <p class="fa fa-cart-plus"></p> Add to Cart</a></button>
    <button class="buynow-button"><a href="#" class="a">Buy Now !</a></button>
  </div>
 <script src="http://localhost/toko_online/public/assets/js/script.js"></script>
</body>

</html>

